//========================================//
// Typography //
//========================================//

$typography: (
        "headline1": rem(96),
        "headline2": rem(60),
        "headline3": rem(48),
        "headline4": rem(34),
        "headline5": rem(24),
        "headline6": rem(20),
        "body1"    : rem(16),
        "body2"    : rem(14),
        "subtitle1": rem(16),
        "subtitle2": rem(14),
        "button"   : rem(14),
        "overline" : rem(10),
        "caption"  : rem(12),
);

h1, .h1 {
  @include fontFamily($font-family);
  font-size: map-get($typography, "headline1");
}

h2, .h2 {
  @include fontFamily($font-family);
  font-size: map-get($typography, "headline2");
}

h3, .h3 {
  @include fontFamily($font-family);
  font-size: map-get($typography, "headline3");
}

h4, .h4 {
  @include fontFamily($font-family);
  font-size: map-get($typography, "headline4");
}

h5, .h5 {
  @include fontFamily($font-family);
  font-size: map-get($typography, "headline5");
}

h6, .h6 {
  @include fontFamily($font-family);
  font-size: map-get($typography, "headline6");
}

body, .body {
  @include fontFamily($font-family);
  font-size: map-get($typography, "body1");
}

body.sml, .body.sml {
  @include fontFamily($font-family);
  font-size: map-get($typography, "body2");
}

p, .p {
  @include fontFamily($font-family);
  font-size: map-get($typography, "subtitle1");
}

p.sml, .p.sml {
  @include fontFamily($font-family);
  font-size: map-get($typography, "subtitle2");
}

button, .button {
  @include fontFamily($font-family);
  font-size: map-get($typography, "button");
}

span, .overline {
  @include fontFamily($font-family);
  font-size: map-get($typography, "overline");
}

caption, .caption {
  @include fontFamily($font-family);
  font-size: map-get($typography, "caption");
}