//========================================//
// Typography //
//========================================//

$typography-styles-headline1: (
  font-family: unquote("Roboto"),
  font-size: rem(96)
);

$typography-styles-headline2: (
  font-family: unquote("Roboto"),
  font-size: rem(60)
);

$typography-styles-headline3: (
  font-family: unquote("Roboto"),
  font-size: rem(48)
);

$typography-styles-headline4: (
  font-family: unquote("Roboto"),
  font-size: rem(34)
);

$typography-styles-headline5: (
  font-family: unquote("Roboto"),
  font-size: rem(24)
);

$typography-styles-headline6: (
  font-family: unquote("Roboto"),
  font-size: rem(20)
);

$typography-styles-body1: (
  font-family: unquote("Roboto"),
  font-size: rem(16)
);

$typography-styles-body2: (
  font-family: unquote("Roboto"),
  font-size: rem(14)
);

$typography-styles-subtitle1: (
  font-family: unquote("Roboto"),
  font-size: rem(16)
);

$typography-styles-subtitle2: (
  font-family: unquote("Roboto"),
  font-size: rem(14)
);

$typography-styles-button: (
  font-family: unquote("Roboto"),
  font-size: rem(14)
);

$typography-styles-overline: (
  font-family: unquote("Roboto"),
  font-size: rem(10)
);

$typography-styles-caption: (
  font-family: unquote("Roboto"),
  font-size: rem(12)
);