//========================================//
// Layouts //
//========================================//

// Global
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  @include fontFamily($font-family);
  @include font-size($font-size);
}

// HTML and Body
html {
  min-height: 100%;
  direction: $mnDirection;
}

body {
  color: $gray-900;
  background-color: $white;
  font-weight: $font-weight-def;
  line-height: $line-height-def;
  @include fontFamily($font-family);
  @include font-size($font-size);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba($black, 0);
}